@use "../abstracts/" as *;

.footer {
   background-color: $white-EB;

   .footer-header {
      color: $blue-31;
      font-weight: 800;
   }
}

a.footer-links {
   color: $blue-31;
   font-weight: 400 !important;
}

.footer-bottom {
   .btn-to-top {
      color: $blue-10;
   }

   .footer-bottom-header {
      border-top: 3px solid $white-EB;
      color: $gray-70 !important;
      font-weight: 700;
   }
}