@use "../abstracts/" as *;

nav.navbar {
   div.nav-link {
      a {
         color: $blue-10;
         font-weight: 600 !important;
         // font-size: 22px;
      }
   }

   .form-search {
      .search-input {
         border-color: $border !important;
      }
   }

   .btn-login {
      background-color: $blue-0B;
      color: $white !important;
   }
}