@use "../abstracts/" as *;
@use "../mixins/" as *;

.about {
    .hero-header {
        .hero-header-text {
            h1 {
                color: $blue-0B;
                font-family: 'Plus Jakarta Sans ExtraBold', sans-serif;
                font-weight: bold;
                line-height: 61.89px;
            }

            .hero-header-subheader {
                color: $gray-70;
                font-weight: 500;
            }

        }

        .hero-header-img {
            .hero-img {
                border-radius: 40px;
            }
        }
    }


    .line {
        @include md {
            border-right: 5px solid $blue-0B;
            height: 80px;
        }

        @include xs {
            border-bottom: 5px solid $blue-0B;
            height: 80px;
        }
    }

    .about-header {
        h1 {
            color: $blue-0B;
            font-family: 'Plus Jakarta Sans ExtraBold', sans-serif;
            font-weight: 700;
        }
    }
}