@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../../../src/assets/fonts/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: "Plus Jakarta Sans ExtraBold", sans-serif;
  src: url("../../../../src/assets/fonts/PlusJakartaSans-ExtraBold.ttf");
}
